.header {
  width: 100%;
  position: fixed;
  display: block;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
}

.header-nav {
  width: 970px;
  margin: 0 auto;
}

.header-logo {
  float: left;
  color: #fff;
  width: 179px;
  height: 83px;
  margin: 12px 0 18px 2px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: asset-url("bacon.png");
  position: relative;
}

.header-logo-name {
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-list {
  float: right;
  color: #fff;
  font-size: 15px;
  margin-top: 42px;
}

.header-list li {
  float: left;
  margin-left: 25px;
}

.header-list li a {
  font-weight: 300;
  padding: 4px 11px;
  opacity: .8;
  display: block;
}

.guest-login:hover {
  cursor: pointer;
}

.signup-link {
  border: 2px solid #fff;
  border-radius: 5px;
}

.home-page-main {
  margin-top: 179px;
}
