.app-header {
  width: 100%;
  height: 32px;
  background-color: #0060bf;
}

.logout {
  float: right;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.app-body {
  width: 100%;
  background-color: #d9e7f5;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  position: relative;
  overflow: hidden;
}

.app-side-bar {
  float: left;
  display: block;
  width: 210px;
  height: 100%;
}

.content {
  height: 95vh;
}

.app-side-logo {
  color: #0060bf;
  width: 179px;
  height: 83px;
  margin: 12px 0 18px 2px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: asset-url("bacon.png");
  position: relative;
  display: block;
}

.app-side-logo-name {
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.update-form-container {
  float: left;
  height: 100%;
  width: 40%;
}
