.app-header {
  width: 100%;
  height: 32px;
  background-color: #0060bf;
}

.logout {
  float: right;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.app-body {
  width: 100%;
  background-color: #d9e7f5;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  position: relative;
  overflow: hidden;
}

.app-side-bar {
  float: left;
  display: block;
  width: 210px;
  height: 100%;
}

.content {
  height: 95vh;
}

.app-side-logo {
  color: #0060bf;
  width: 179px;
  height: 83px;
  margin: 12px 0 18px 2px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: asset-url("bacon.png");
  position: relative;
  display: block;
}

.app-side-logo-name {
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.update-form-container {
  float: left;
  height: 100%;
  width: 40%;
}

.search-bar {
  position: absolute;
  width: 400px;
  top: 5px;
  left: 13%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aac9e8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aac9e8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aac9e8;
}
:-moz-placeholder { /* Firefox 18- */
  color: #aac9e8;
}


.search-string-area {
  width: 80%;
  margin-right: 10px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #3380cc;
  padding-left: 5px;
  padding-right: 5px;
  transition: background-color 0.35s ease-in-out;
  color: #fff;
}

.active {
  background-color: #fff;
  transition: background-color 0.35s ease-in-out;
  color: #000;
}

.search-button {
  color: #fff;
}
