.add-list-modal {
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  position: relative;
}

.cancel-add {
  position: absolute;
  bottom: 39px;
  right: 130px;
}

.lists-index-container {
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  display: block;
  max-height: 300px;
  overflow: hidden;
  transition: all 0.45s ease-in;
  border-bottom: 1px dotted #000;
}

.lists-index-clicked {
  max-height: 37px;
  transition: all 0.35s ease-out;
}

.lists-index-container-title {
  text-align: left;
  padding: 5px 0 5px 0;
  display: block;
  transition: all 0.3s;
}

.lists-index-container-title:hover {
  background-color: rgb(191, 215, 239);
}

.add-list-button {
  float: right;
  padding-right: 5px;
  padding-top: 3px;
  border: 1px;
  color: #98AFC7
}

.add-list-button:hover{
  color: #0060bf;
}

.lists-index {
  display: block;
}


.lists-index > li {
  display: block;
  opacity: 1;
  height: 25px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.3s;
}

.lists-index > li:hover {
  background-color: rgb(191, 215, 239);
}
