.list-form-container {
  padding: 29px 37px;
}

.list-form {
  margin-top: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-name {
  text-align: left;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.list-form-button {
  font-weight: bold;
  padding: 6px 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #fff;
  background-color: rgb(1, 124, 249);
  cursor: pointer;
}
.add-list {
  margin-top: 12px;
  padding: 6px 13px;
}

.list-form-name {
  font-size: 18px;
}

.list-form label {
  font-size: 13px;
}

.list-buttons {
  float: right;
  padding-right: 5px;
  color: #98AFC7;
}

.list-buttons:hover{
  color: #0060bf;
}

.list-show-container {
  float: left;
  height: 100%;
  margin-top: 15px;
  width: 40%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}
