/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, header, nav, h1, a, ul, li,
section, img, div, h2, p,
form, label, input, textarea,
button, article, footer {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  color: inherit;
  background-color: transparent;
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif,
  Arial, Helvetica;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.home-body {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.color-1 {
  background-color: #0060bf;
  transition: background-color 0.3s linear;
}

.color-2 {
  background-color: #3292f2;
  transition: background-color 0.3s linear;
}

.color-3 {
  background-color: #6a4ca6;
  transition: background-color 0.3s linear;
}

.color-4 {
  background-color: #5bb84d;
  transition: background-color 0.3s linear;
}
